.fraca{
    width: 25%;
    background-color: #b14a56; 
}
.media{
    background-color: #aead67;
    width: 50%;
}
.forte{
    background-color: #6173a3;
    width: 100%;
}

.parametro-senha-textos{
    display: flex;
    justify-content: space-between;
}


@media screen and (min-width: 768px) {
    .parametro-coluna__senha{
        flex-direction: row;
    }
}